body { text-align: center; }
#container { margin-left: auto; margin-right: auto; width: 50em; }


img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 1);
	box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 1);
}